<%= form_with(model: photo, local: true) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :car_id %>
    <%= form.number_field :car_id, id: :photo_car_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :photo_name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :photo_image %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :photo_photo %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :photo_color %>
  </div>

  <div class="field">
    <%= form.label :background %>
    <%= form.text_field :background, id: :photo_background %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :photo_price %>
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_field :remark, id: :photo_remark %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
