<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand_id %>
    <%= form.number_field :brand_id, id: :car_brand_id %>
  </div>

  <div class="field">
    <%= form.label :sub_barnd %>
    <%= form.text_field :sub_barnd, id: :car_sub_barnd %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :car_price %>
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_field :remark, id: :car_remark %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
